* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(40, 40, 0);
}

@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 24px;
    }
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border: 1px solid #d3d3d3;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    padding: 50px;
    border-radius: 16px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #d3d3d3;
    outline: none;
}

button {
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    color: white;
    font-weight: 500;
    font-size: 20px;
}